@page "/help"
<h3>Сведения о программе «@Resources.Title»</h3>
<p>Версия @Resources.Version</p>
<h4>Документация:</h4>
<p><a href="Руководство пользователя БОМ.pdf">Руководство пользователя БОМ</a></p>
